* {
    padding: 0;
    box-sizing: border-box;

    
    font-family: monospace;
}

body {
    background-image: url("../images/pexels-alexander-kovalev-2847648.jpeg"); 
    background-size: cover;

   
}


p {
    color: white;
    font-size: 16px;
    text-align: center;
}

p #timer {
    float: right;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 16px;
}

h1, h2 {
    color: white;
    text-align: center;
    
}

/* Outside Container */
#outside-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Top Section Container */
#top p {
    float: right;
}

/* Inside Container */
#inside-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

/* Header/Quiz Intro */
#intro {
   /* display: block;  in/visible by default */
    padding: 20% 10% 30% 10%;
    
}

#intro button {
  /*  display: block  ;*/
    margin: 0 auto;
}

/* Main Quiz Content */
main {
   /* display: none; /* in/visible */
    
}

.hide {
    display: none; /* in/visible by default */
}


/* finish screen */
#finish-screen {
   /* display: none; /* in/visible by default */
}  

/* high scores screen */
#high-scores {
  /*  display: none; /* in/visible by default */
}

#high-scores ol {
    /* overflow: scroll; */
    /* set the max/min height ie: ~200px  */
}
  